<p>
  <label>Base directory</label>
  <%= text_field_tag 'settings[base_dir]', @settings['base_dir'] %>
</p>
<p>
  <label>Create command</label>
  <%= text_field_tag 'settings[create_command]', @settings['create_command'] %>
</p>
<p>
  <label>Add user command</label>
  <%= text_field_tag 'settings[add_user_command]', @settings['add_user_command'] %>
</p>
<p>
  <label>Del user command</label>
  <%= text_field_tag 'settings[del_user_command]', @settings['del_user_command'] %>
</p>
